## Test Results

### Are Colabs using Python 3?
Success!

### Are Colabs cleared of all outputs?
t02_data/03_visualizations/colab1.ipynb has an uncleared output.

t02_data/03_visualizations/colab2.ipynb has an uncleared output.

t02_data/06_probability/colab_dice_rolling.ipynb has an uncleared output.

### Are all Colabs and Slides free of spelling errors?
t02_data/01_introduction_to_python/colab.ipynb contains nonword acces

t02_data/06_probability/colab1.ipynb contains nonword probabiltiy

t02_data/06_probability/colab1.ipynb contains nonword eah

t02_data/06_probability/colab1.ipynb contains nonword choclate

t02_data/06_probability/colab2.ipynb contains nonword probabiltiy

t02_data/06_probability/colab2.ipynb contains nonword indepent

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword multple

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword largets

t05_basic_classification/10_project_classification/colab.ipynb contains nonword fsdfasdfsadfsd

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword capibable

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword litle

### Do all exercises have an answer key?
t02_data/03_visualizations/colab1.ipynb has 2 exercises, and 0 answer keys.

t02_data/08_data_analysis_and_manipulation/colab.ipynb has 1 exercises, and 2 answer keys.

t03_regression/01_introduction_to_sklearn/colab.ipynb has 3 exercises, and 4 answer keys.

t03_regression/03_linear_regression_with_sklearn/colab.ipynb has 10 exercises, and 13 answer keys.

### Are all images correctly licensed?
Not written yet!

