## Test Results


### Are Colabs using Python 3?
Success!

### Are Colabs cleared of all outputs?
Success!

### Are all Colabs and Slides free of spelling errors?
00_prerequisites/00_introduction_to_python/colab.ipynb contains nonword uppercase

02_data/01_introduction_to_pandas/colab.ipynb contains nonword seatle

02_data/02_intermediate_pandas/colab.ipynb contains nonword familar

02_data/03_visualizations/colab.ipynb contains nonword catagories

02_data/03_visualizations/colab.ipynb contains nonword inital

02_data/03_visualizations/colab.ipynb contains nonword coordiantes

02_data/04_acquiring_data/colab.ipynb contains nonword virutal

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword nicaraqua

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword acorss

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword domincan

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword hexidecimal

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword niacragua

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword scientiest's

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword catagorical

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword furstrating

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword thand

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword examing

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword derrive

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword expoloring

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword coulmn

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword republicm

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword mispelled

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword eucador

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword originor

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword digitize

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword sould

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword nicaraqua

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword chocoate

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword prepping

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword domincan

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword distrubtion

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword niacragua

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword traunches

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword cooca

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword addtion

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword proplerly

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword consistantly

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword remeber

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword arugment

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword explination

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword republicm

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword unfufilling

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword hisogram

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword eucador

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword originor

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword latitiude

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword tighest

02_data/05_exploratory_data_analysis/colab-part2.ipynb contains nonword country's

03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword ubiquitout

03_regression/03_regression_in_sklearn/colab.ipynb contains nonword person's

03_regression/07_linear_regression_with_tensorflow/colab.ipynb contains nonword buld

03_regression/07_linear_regression_with_tensorflow/colab.ipynb contains nonword interable

03_regression/07_linear_regression_with_tensorflow/colab.ipynb contains nonword f'which

03_regression/07_linear_regression_with_tensorflow/colab.ipynb contains nonword distrubuting

03_regression/07_linear_regression_with_tensorflow/colab.ipynb contains nonword yorba

03_regression/07_linear_regression_with_tensorflow/colab.ipynb contains nonword varibility

03_regression/07_linear_regression_with_tensorflow/colab.ipynb contains nonword finallly

### Do all exercises have an answer key?
00_prerequisites/00_introduction_to_python/colab.ipynb has 3 exercises, and 4 answer keys.

02_data/06_project_data_processing/colab.ipynb has 2 exercises, and 1 answer keys.

### Are all images correctly licensed?
Success!

