## Test Results


### Are Colabs using Python 3?
this colab does not exist in the github repo: 02_data/05_exploratory_data_analysis/colab-part2.ipynb

this colab does not exist in the github repo: 03_regression/00_introduction_to_regression/colab.ipynb

### Are Colabs cleared of all outputs?
this colab does not exist in the github repo: 02_data/05_exploratory_data_analysis/colab-part2.ipynb

this colab does not exist in the github repo: 03_regression/00_introduction_to_regression/colab.ipynb

### Are all Colabs and Slides free of spelling errors?
02_data/01_introduction_to_pandas/colab.ipynb contains nonword seatle

02_data/02_intermediate_pandas/colab.ipynb contains nonword familar

02_data/03_visualizations/colab.ipynb contains nonword catagories

02_data/03_visualizations/colab.ipynb contains nonword coordiantes

02_data/03_visualizations/colab.ipynb contains nonword inital

02_data/04_acquiring_data/colab.ipynb contains nonword virutal

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword scientiest's

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword reassigning

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword republicm

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword reviewdate

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword examing

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword acorss

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword domincan

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword originor

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword crossreference

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword mispelled

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword cocoapercent

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword expoloring

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword ambolikapiky

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword companylocation

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword modelers

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword shattel

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword nicaraqua

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword akesson

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword whitespace

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword catagorical

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword ambolikapkly

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword thand

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword hexidecimal

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword derrive

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword beantype

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword coulmn

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword shattell

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword furstrating

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword eucador

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword credential

02_data/05_exploratory_data_analysis/colab-part1.ipynb contains nonword niacragua

this colab does not exist in the github repo: 02_data/05_exploratory_data_analysis/colab-part2.ipynb

02_data/06_project_data_processing/colab.ipynb contains nonword column's

02_data/06_project_data_processing/colab.ipynb contains nonword team's

02_data/06_project_data_processing/colab.ipynb contains nonword flightcount

this colab does not exist in the github repo: 03_regression/00_introduction_to_regression/colab.ipynb

03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword ubiquitout

03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword subpackage

### Do all exercises have an answer key?
00_prerequisites/00_introduction_to_python/colab.ipynb has 3 exercises, and 4 answer keys.

this colab does not exist in the github repo: 02_data/05_exploratory_data_analysis/colab-part2.ipynb

02_data/06_project_data_processing/colab.ipynb has 2 exercises, and 1 answer keys.

this colab does not exist in the github repo: 03_regression/00_introduction_to_regression/colab.ipynb

03_regression/03_regression_in_sklearn/colab.ipynb has 9 exercises, and 13 answer keys.

### Are all images correctly licensed?
Success!

