## Test Results

### Are Colabs using Python 3?
Success!

### Are Colabs cleared of all outputs?
Success!

### Are all Colabs and Slides free of spelling errors?
00_prerequisites/00_introduction_to_python/colab.ipynb contains nonword smae

00_prerequisites/00_introduction_to_python/colab.ipynb contains nonword acces

00_prerequisites/00_introduction_to_python/colab.ipynb contains nonword variabe

00_prerequisites/00_introduction_to_python/colab.ipynb contains nonword surronded

00_prerequisites/00_introduction_to_python/slides.md contains nonword fulls

00_prerequisites/01_intermediate_python/00-objects.ipynb contains nonword paychek

00_prerequisites/01_intermediate_python/00-objects.ipynb contains nonword andmethods

01_what_is_ml/00_introduction/slides.md contains nonword usplash

02_data/00_introduction_to_colab/colab.ipynb contains nonword percentange

02_data/00_introduction_to_colab/colab.ipynb contains nonword convienient

02_data/00_introduction_to_colab/colab.ipynb contains nonword varaible

02_data/01_introduction_to_pandas/colab.ipynb contains nonword espeically

02_data/01_introduction_to_pandas/colab.ipynb contains nonword seatle

02_data/01_introduction_to_pandas/colab.ipynb contains nonword easiliy

02_data/01_introduction_to_pandas/colab.ipynb contains nonword decending

02_data/01_introduction_to_pandas/colab.ipynb contains nonword anaylsis

02_data/02_intermediate_pandas/colab.ipynb contains nonword manufactering

02_data/02_intermediate_pandas/colab.ipynb contains nonword familar

02_data/02_intermediate_pandas/colab.ipynb contains nonword espeically

02_data/02_intermediate_pandas/colab.ipynb contains nonword happpens

02_data/02_intermediate_pandas/colab.ipynb contains nonword insteand

02_data/02_intermediate_pandas/colab.ipynb contains nonword explicity

02_data/02_intermediate_pandas/colab.ipynb contains nonword peform

02_data/02_intermediate_pandas/colab.ipynb contains nonword aiport

02_data/02_intermediate_pandas/colab.ipynb contains nonword uncertian

02_data/02_intermediate_pandas/colab.ipynb contains nonword aggreation

02_data/02_intermediate_pandas/slides.md contains nonword mulitple

02_data/02_intermediate_pandas/slides.md contains nonword prevous

02_data/03_visualizations/colab.ipynb contains nonword chololate

02_data/03_visualizations/colab.ipynb contains nonword tablular

02_data/03_visualizations/colab.ipynb contains nonword informaiton

02_data/03_visualizations/colab.ipynb contains nonword does't

02_data/03_visualizations/colab.ipynb contains nonword resturant

02_data/03_visualizations/colab.ipynb contains nonword coordiantes

02_data/03_visualizations/colab.ipynb contains nonword determin

02_data/03_visualizations/colab.ipynb contains nonword admittidly

02_data/03_visualizations/colab.ipynb contains nonword witht

02_data/03_visualizations/colab.ipynb contains nonword visualzation

02_data/03_visualizations/colab.ipynb contains nonword tere

02_data/03_visualizations/colab.ipynb contains nonword catagorical

02_data/03_visualizations/colab.ipynb contains nonword catagories

02_data/03_visualizations/colab.ipynb contains nonword quesion

02_data/03_visualizations/colab.ipynb contains nonword digestable

02_data/03_visualizations/colab.ipynb contains nonword catagory

02_data/03_visualizations/colab.ipynb contains nonword mulitple

02_data/03_visualizations/colab.ipynb contains nonword hiher

02_data/03_visualizations/colab.ipynb contains nonword quesiton

02_data/03_visualizations/colab.ipynb contains nonword inital

02_data/03_visualizations/colab.ipynb contains nonword exerciase

02_data/03_visualizations/colab.ipynb contains nonword tempearature

02_data/03_visualizations/slides.md contains nonword heloful

02_data/03_visualizations/slides.md contains nonword wellt

02_data/03_visualizations/slides.md contains nonword visualizaitons

02_data/04_acquiring_data/colab.ipynb contains nonword virutal

02_data/04_acquiring_data/colab.ipynb contains nonword targetd

02_data/04_acquiring_data/slides.md contains nonword enviornments

### Do all exercises have an answer key?
00_prerequisites/00_introduction_to_python/colab.ipynb has 3 exercises, and 4 answer keys.

02_data/01_introduction_to_pandas/colab.ipynb has 6 exercises, and 8 answer keys.

02_data/02_intermediate_pandas/colab.ipynb has 7 exercises, and 8 answer keys.

02_data/03_visualizations/colab.ipynb has 0 exercises, and 5 answer keys.

02_data/05_exploratory_data_analysis/colab.ipynb has 1 exercises, and 2 answer keys.

03_regression/00_introduction_to_regression/colab.ipynb has 9 exercises, and 13 answer keys.

### Are all images correctly licensed?
00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 3.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 5.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 6.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 7.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 8.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 9.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 10.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 11.

00_prerequisites/00_introduction_to_python/slides.md has unsourced image on slide 12.

00_prerequisites/01_intermediate_python/slides.md has unsourced image on slide 2.

00_prerequisites/01_intermediate_python/slides.md has unsourced image on slide 3.

00_prerequisites/01_intermediate_python/slides.md has unsourced image on slide 4.

00_prerequisites/01_intermediate_python/slides.md has unsourced image on slide 5.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 7.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 8.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 9.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 10.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 11.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 12.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 13.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 14.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 16.

01_what_is_ml/00_introduction/slides.md has unsourced image on slide 24.

01_what_is_ml/02_fairness/slides.md has unsourced image on slide 2.

01_what_is_ml/03_problem_framing/slides.md has unsourced image on slide 3.

01_what_is_ml/03_problem_framing/slides.md has unsourced image on slide 4.

01_what_is_ml/03_problem_framing/slides.md has unsourced image on slide 5.

01_what_is_ml/03_problem_framing/slides.md has unsourced image on slide 6.

01_what_is_ml/03_problem_framing/slides.md has unsourced image on slide 7.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 1.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 2.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 3.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 4.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 6.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 8.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 13.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 17.

02_data/00_introduction_to_colab/slides.md has unsourced image on slide 18.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 4.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 5.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 6.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 12.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 13.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 14.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 15.

02_data/01_introduction_to_pandas/slides.md has unsourced image on slide 16.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 7.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 8.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 9.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 10.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 26.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 27.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 30.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 31.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 32.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 33.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 34.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 36.

02_data/02_intermediate_pandas/slides.md has unsourced image on slide 37.

02_data/03_visualizations/slides.md has unsourced image on slide 2.

02_data/03_visualizations/slides.md has unsourced image on slide 3.

02_data/03_visualizations/slides.md has unsourced image on slide 4.

02_data/03_visualizations/slides.md has unsourced image on slide 5.

02_data/03_visualizations/slides.md has unsourced image on slide 6.

02_data/03_visualizations/slides.md has unsourced image on slide 7.

02_data/03_visualizations/slides.md has unsourced image on slide 8.

02_data/03_visualizations/slides.md has unsourced image on slide 9.

02_data/03_visualizations/slides.md has unsourced image on slide 10.

02_data/03_visualizations/slides.md has unsourced image on slide 11.

02_data/03_visualizations/slides.md has unsourced image on slide 12.

02_data/03_visualizations/slides.md has unsourced image on slide 13.

02_data/03_visualizations/slides.md has unsourced image on slide 14.

02_data/03_visualizations/slides.md has unsourced image on slide 15.

02_data/03_visualizations/slides.md has unsourced image on slide 16.

02_data/03_visualizations/slides.md has unsourced image on slide 18.

02_data/03_visualizations/slides.md has unsourced image on slide 19.

02_data/03_visualizations/slides.md has unsourced image on slide 25.

02_data/04_acquiring_data/slides.md has unsourced image on slide 3.

02_data/04_acquiring_data/slides.md has unsourced image on slide 4.

02_data/04_acquiring_data/slides.md has unsourced image on slide 5.

02_data/04_acquiring_data/slides.md has unsourced image on slide 6.

02_data/04_acquiring_data/slides.md has unsourced image on slide 7.

02_data/04_acquiring_data/slides.md has unsourced image on slide 8.

02_data/04_acquiring_data/slides.md has unsourced image on slide 10.

02_data/04_acquiring_data/slides.md has unsourced image on slide 11.

02_data/04_acquiring_data/slides.md has unsourced image on slide 12.

02_data/04_acquiring_data/slides.md has unsourced image on slide 17.

02_data/04_acquiring_data/slides.md has unsourced image on slide 18.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 2.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 3.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 4.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 5.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 6.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 8.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 9.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 10.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 11.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 12.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 13.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 14.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 15.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 16.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 17.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 18.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 19.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 20.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 21.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 22.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 23.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 24.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 25.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 26.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 27.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 28.

03_regression/00_introduction_to_regression/slides.md has unsourced image on slide 29.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 2.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 4.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 5.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 6.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 9.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 10.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 11.

03_regression/01_introduction_to_sklearn/slides.md has unsourced image on slide 12.

