## Test Results

### Are Colabs using Python 3?
Success!

### Are Colabs cleared of all outputs?
t02_data/03_visualizations/colab1.ipynb has an uncleared output.

t02_data/03_visualizations/colab2.ipynb has an uncleared output.

t02_data/06_probability/colab_dice_rolling.ipynb has an uncleared output.

### Are all Colabs and Slides free of spelling errors?
Tests not yet implemented!

### Do all exercises have an answer key?
t02_data/03_visualizations/colab1.ipynb has 2 exercises, and 0 answer keys.

t02_data/04_introduction_to_pandas/colab.ipynb has 3 exercises, and 4 answer keys.

t02_data/08_data_analysis_and_manipulation/colab.ipynb has 1 exercises, and 2 answer keys.

t03_regression/01_introduction_to_sklearn/colab.ipynb has 3 exercises, and 4 answer keys.

t03_regression/03_linear_regression_with_sklearn/colab.ipynb has 10 exercises, and 13 answer keys.

