## Test Results

### Are Colabs using Python 3?
Success!

### Are Colabs cleared of all outputs?
t02_data/03_visualizations/colab1.ipynb has an uncleared output.

t02_data/03_visualizations/colab2.ipynb has an uncleared output.

t02_data/06_probability/colab_dice_rolling.ipynb has an uncleared output.

### Are all Colabs and Slides free of spelling errors?
t02_data/00_introduction_to_colab/colab.ipynb contains nonword we'll

t02_data/00_introduction_to_colab/colab.ipynb contains nonword you'll

t02_data/00_introduction_to_colab/colab.ipynb contains nonword dbfvarrixqfn

t02_data/00_introduction_to_colab/colab.ipynb contains nonword markdown

t02_data/00_introduction_to_colab/colab.ipynb contains nonword we've

t02_data/00_introduction_to_colab/colab.ipynb contains nonword numpy

t02_data/00_introduction_to_colab/colab.ipynb contains nonword syntaxes

t02_data/00_introduction_to_colab/colab.ipynb contains nonword colab

t02_data/00_introduction_to_colab/colab.ipynb contains nonword jupyter

t02_data/00_introduction_to_colab/colab.ipynb contains nonword that's

t02_data/00_introduction_to_colab/colab.ipynb contains nonword emailed

t02_data/00_introduction_to_colab/colab.ipynb contains nonword gowlzrxeqshz

t02_data/00_introduction_to_colab/colab.ipynb contains nonword you're

t02_data/00_introduction_to_colab/colab.ipynb contains nonword cell's

t02_data/00_introduction_to_colab/colab.ipynb contains nonword pyplot

t02_data/00_introduction_to_colab/colab.ipynb contains nonword doesn't

t02_data/00_introduction_to_colab/colab.ipynb contains nonword clickable

t02_data/00_introduction_to_colab/colab.ipynb contains nonword xicocotnwwgb

t02_data/00_introduction_to_colab/colab.ipynb contains nonword google

t02_data/00_introduction_to_colab/colab.ipynb contains nonword notebook's

t02_data/00_introduction_to_colab/colab.ipynb contains nonword github

t02_data/00_introduction_to_colab/colab.ipynb contains nonword markdowns

t02_data/00_introduction_to_colab/colab.ipynb contains nonword tytbdjxxfqij

t02_data/00_introduction_to_colab/colab.ipynb contains nonword url

t02_data/00_introduction_to_colab/colab.ipynb contains nonword svlbyedqqipr

t02_data/00_introduction_to_colab/colab.ipynb contains nonword bulleted

t02_data/00_introduction_to_colab/colab.ipynb contains nonword colaboratory

t02_data/00_introduction_to_colab/colab.ipynb contains nonword matplotlib

t02_data/01_introduction_to_python/colab.ipynb contains nonword placeholders

t02_data/01_introduction_to_python/colab.ipynb contains nonword optimizations

t02_data/01_introduction_to_python/colab.ipynb contains nonword troubleshoot

t02_data/01_introduction_to_python/colab.ipynb contains nonword code's

t02_data/01_introduction_to_python/colab.ipynb contains nonword we'll

t02_data/01_introduction_to_python/colab.ipynb contains nonword isn't

t02_data/01_introduction_to_python/colab.ipynb contains nonword you'll

t02_data/01_introduction_to_python/colab.ipynb contains nonword initializes

t02_data/01_introduction_to_python/colab.ipynb contains nonword concatenates

t02_data/01_introduction_to_python/colab.ipynb contains nonword won't

t02_data/01_introduction_to_python/colab.ipynb contains nonword shouldn't

t02_data/01_introduction_to_python/colab.ipynb contains nonword b'

t02_data/01_introduction_to_python/colab.ipynb contains nonword we've

t02_data/01_introduction_to_python/colab.ipynb contains nonword hashtag

t02_data/01_introduction_to_python/colab.ipynb contains nonword bool

t02_data/01_introduction_to_python/colab.ipynb contains nonword initialize

t02_data/01_introduction_to_python/colab.ipynb contains nonword function's

t02_data/01_introduction_to_python/colab.ipynb contains nonword aren't

t02_data/01_introduction_to_python/colab.ipynb contains nonword colab

t02_data/01_introduction_to_python/colab.ipynb contains nonword you've

t02_data/01_introduction_to_python/colab.ipynb contains nonword cannot

t02_data/01_introduction_to_python/colab.ipynb contains nonword computer's

t02_data/01_introduction_to_python/colab.ipynb contains nonword placeholder

t02_data/01_introduction_to_python/colab.ipynb contains nonword we're

t02_data/01_introduction_to_python/colab.ipynb contains nonword doesn't

t02_data/01_introduction_to_python/colab.ipynb contains nonword bools

t02_data/01_introduction_to_python/colab.ipynb contains nonword google

t02_data/01_introduction_to_python/colab.ipynb contains nonword lowercase

t02_data/01_introduction_to_python/colab.ipynb contains nonword haven't

t02_data/01_introduction_to_python/colab.ipynb contains nonword hasn't

t02_data/01_introduction_to_python/colab.ipynb contains nonword acces

t02_data/01_introduction_to_python/colab.ipynb contains nonword modulos

t02_data/01_introduction_to_python/colab.ipynb contains nonword cosines

t02_data/01_introduction_to_python/colab.ipynb contains nonword it's

t02_data/01_introduction_to_python/colab.ipynb contains nonword yournumber

t02_data/02_intermediate_python/00-objects.ipynb contains nonword wququmexsozx

t02_data/02_intermediate_python/00-objects.ipynb contains nonword isn't

t02_data/02_intermediate_python/00-objects.ipynb contains nonword initializes

t02_data/02_intermediate_python/00-objects.ipynb contains nonword qjctwgvpwtgc

t02_data/02_intermediate_python/00-objects.ipynb contains nonword initializer

t02_data/02_intermediate_python/00-objects.ipynb contains nonword ellabelle

t02_data/02_intermediate_python/00-objects.ipynb contains nonword initialize

t02_data/02_intermediate_python/00-objects.ipynb contains nonword paycheck

t02_data/02_intermediate_python/00-objects.ipynb contains nonword colab

t02_data/02_intermediate_python/00-objects.ipynb contains nonword zejvulmdqgkm

t02_data/02_intermediate_python/00-objects.ipynb contains nonword modeled

t02_data/02_intermediate_python/00-objects.ipynb contains nonword ieflzjmeqduu

t02_data/02_intermediate_python/00-objects.ipynb contains nonword doesn't

t02_data/02_intermediate_python/00-objects.ipynb contains nonword google

t02_data/02_intermediate_python/00-objects.ipynb contains nonword dunder

t02_data/02_intermediate_python/00-objects.ipynb contains nonword ypxaicdexbzx

t02_data/02_intermediate_python/00-objects.ipynb contains nonword tccghpjkqeme

t02_data/02_intermediate_python/00-objects.ipynb contains nonword gpnmfstyhdgq

t02_data/02_intermediate_python/00-objects.ipynb contains nonword vgkjpqxwxuzw

t02_data/02_intermediate_python/00-objects.ipynb contains nonword holdouts

t02_data/02_intermediate_python/00-objects.ipynb contains nonword employee's

t02_data/02_intermediate_python/00-objects.ipynb contains nonword apwwokbxngez

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword doesn't

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword kwewduzcffrz

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword todo

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword zstgpjojcavg

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword colab

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword we'll

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword isn't

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword bdqiewwccoer

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword you'll

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword google

t02_data/02_intermediate_python/01-exceptions.ipynb contains nonword myveryownerror

t02_data/02_intermediate_python/02-lambdas.ipynb contains nonword wxbemccltcgf

t02_data/02_intermediate_python/02-lambdas.ipynb contains nonword todo

t02_data/02_intermediate_python/02-lambdas.ipynb contains nonword colab

t02_data/02_intermediate_python/02-lambdas.ipynb contains nonword you'll

t02_data/02_intermediate_python/02-lambdas.ipynb contains nonword google

t02_data/02_intermediate_python/02-lambdas.ipynb contains nonword pythonic

t02_data/02_intermediate_python/02-lambdas.ipynb contains nonword lambdas

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword doesn't

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword colab

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword isn't

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword you'll

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword google

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword that's

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword eqicwriztroj

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword iwozspofrmkn

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword comprehensions

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword pythonic

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword rquncfifauyu

t02_data/02_intermediate_python/03-list-comprehension.ipynb contains nonword we've

t02_data/03_visualizations/colab1.ipynb contains nonword numpy

t02_data/03_visualizations/colab1.ipynb contains nonword doesn't

t02_data/03_visualizations/colab1.ipynb contains nonword chocolate'

t02_data/03_visualizations/colab1.ipynb contains nonword stew'

t02_data/03_visualizations/colab1.ipynb contains nonword visualizations

t02_data/03_visualizations/colab1.ipynb contains nonword 'noodles'

t02_data/03_visualizations/colab1.ipynb contains nonword casserole'

t02_data/03_visualizations/colab1.ipynb contains nonword google

t02_data/03_visualizations/colab1.ipynb contains nonword pistachio'

t02_data/03_visualizations/colab1.ipynb contains nonword vanilla'

t02_data/03_visualizations/colab1.ipynb contains nonword mango'

t02_data/03_visualizations/colab1.ipynb contains nonword won't

t02_data/03_visualizations/colab1.ipynb contains nonword heatmaps

t02_data/03_visualizations/colab1.ipynb contains nonword heatmap

t02_data/03_visualizations/colab1.ipynb contains nonword graphing

t02_data/03_visualizations/colab1.ipynb contains nonword seaborn

t02_data/03_visualizations/colab1.ipynb contains nonword matplotlib

t02_data/03_visualizations/colab2.ipynb contains nonword cake'

t02_data/03_visualizations/colab2.ipynb contains nonword cream'

t02_data/03_visualizations/colab2.ipynb contains nonword fudge'

t02_data/03_visualizations/colab2.ipynb contains nonword souffle'

t02_data/03_visualizations/colab2.ipynb contains nonword kat'

t02_data/03_visualizations/colab2.ipynb contains nonword datapoints

t02_data/03_visualizations/colab2.ipynb contains nonword brownie'

t02_data/03_visualizations/colab2.ipynb contains nonword numpy

t02_data/03_visualizations/colab2.ipynb contains nonword chips'

t02_data/03_visualizations/colab2.ipynb contains nonword 'lava

t02_data/03_visualizations/colab2.ipynb contains nonword snickers'

t02_data/03_visualizations/colab2.ipynb contains nonword toblerone'

t02_data/03_visualizations/colab2.ipynb contains nonword mousse'

t02_data/03_visualizations/colab2.ipynb contains nonword heatmap

t02_data/03_visualizations/colab2.ipynb contains nonword seaborn

t02_data/03_visualizations/colab2.ipynb contains nonword way'

t02_data/03_visualizations/colab2.ipynb contains nonword google

t02_data/03_visualizations/colab2.ipynb contains nonword truffles'

t02_data/03_visualizations/colab2.ipynb contains nonword visualizations

t02_data/03_visualizations/colab2.ipynb contains nonword cheesecake'

t02_data/03_visualizations/colab2.ipynb contains nonword pudding'

t02_data/03_visualizations/colab2.ipynb contains nonword graphing

t02_data/03_visualizations/colab2.ipynb contains nonword cookie'

t02_data/03_visualizations/colab2.ipynb contains nonword matplotlib

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword snickerdoodle'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword pie'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword python's

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword empanadas'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword cake'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword portland'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword fudge'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword austin'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword area'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword numpy

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword row's

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword datatable

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword francisco'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword google

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword airports'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword city'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword dataframe

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword treacle'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword name'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword population'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword mochi'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword sold'

t02_data/04_introduction_to_pandas/colab.ipynb contains nonword matplotlib

t02_data/05_intermediate_pandas/colab.ipynb contains nonword snickerdoodle'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword pie'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword python's

t02_data/05_intermediate_pandas/colab.ipynb contains nonword empanadas'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword cake'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword you'll

t02_data/05_intermediate_pandas/colab.ipynb contains nonword portland'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword fudge'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword austin'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword unit's

t02_data/05_intermediate_pandas/colab.ipynb contains nonword mean'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword sum'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword and'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword numpy

t02_data/05_intermediate_pandas/colab.ipynb contains nonword id'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword chain's

t02_data/05_intermediate_pandas/colab.ipynb contains nonword aren't

t02_data/05_intermediate_pandas/colab.ipynb contains nonword you've

t02_data/05_intermediate_pandas/colab.ipynb contains nonword popularity'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword revenue'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword francisco'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword google

t02_data/05_intermediate_pandas/colab.ipynb contains nonword airports'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword company's

t02_data/05_intermediate_pandas/colab.ipynb contains nonword dataframes

t02_data/05_intermediate_pandas/colab.ipynb contains nonword city'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword not'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword dataframe

t02_data/05_intermediate_pandas/colab.ipynb contains nonword visualizations

t02_data/05_intermediate_pandas/colab.ipynb contains nonword traffic'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword groupby

t02_data/05_intermediate_pandas/colab.ipynb contains nonword name'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword treacle'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword stock'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword population'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword mochi'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword or'

t02_data/05_intermediate_pandas/colab.ipynb contains nonword store's

t02_data/05_intermediate_pandas/colab.ipynb contains nonword matplotlib

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword numpy

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword numsides

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword numrolls

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword yaxisheight

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword xlabels

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword dicerolls

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword python's

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword dicetograph

t02_data/06_probability/colab_dice_rolling.ipynb contains nonword barheights

t02_data/06_probability/colab1.ipynb contains nonword numpy

t02_data/06_probability/colab1.ipynb contains nonword yaxisheight

t02_data/06_probability/colab1.ipynb contains nonword choclate

t02_data/06_probability/colab1.ipynb contains nonword numbars

t02_data/06_probability/colab1.ipynb contains nonword xlabels

t02_data/06_probability/colab1.ipynb contains nonword chocbarpops

t02_data/06_probability/colab1.ipynb contains nonword frequencybar

t02_data/06_probability/colab1.ipynb contains nonword google

t02_data/06_probability/colab1.ipynb contains nonword snickers

t02_data/06_probability/colab1.ipynb contains nonword probabiltiy

t02_data/06_probability/colab1.ipynb contains nonword toblerone

t02_data/06_probability/colab1.ipynb contains nonword chocbars

t02_data/06_probability/colab1.ipynb contains nonword barprobs

t02_data/06_probability/colab1.ipynb contains nonword sumpop

t02_data/06_probability/colab1.ipynb contains nonword eah

t02_data/06_probability/colab1.ipynb contains nonword getbars

t02_data/06_probability/colab1.ipynb contains nonword barheights

t02_data/06_probability/colab1.ipynb contains nonword unweighted

t02_data/06_probability/colab1.ipynb contains nonword chocbarstograph

t02_data/06_probability/colab2.ipynb contains nonword plagiarized

t02_data/06_probability/colab2.ipynb contains nonword algorithm's

t02_data/06_probability/colab2.ipynb contains nonword indepent

t02_data/06_probability/colab2.ipynb contains nonword misidentify

t02_data/06_probability/colab2.ipynb contains nonword isn't

t02_data/06_probability/colab2.ipynb contains nonword google

t02_data/06_probability/colab2.ipynb contains nonword probabiltiy

t02_data/06_probability/colab2.ipynb contains nonword misidentified

t02_data/06_probability/colab2.ipynb contains nonword butterfinger

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword multiclass

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword protists

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword kelvin's

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword euler's

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword archaebacteria

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword numpy

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword colab

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword cannot

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword pseudorandom

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword multicategory

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword pearson's

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword seaborn

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword student's

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword distribution's

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword google

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword measureable

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword youtube's

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword ggruipveawyy

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword vztvbowqrvgh

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword dataframe

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword signups

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword visualizations

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword labeling

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword xhvhpjhsaeem

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword uber

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword kde

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword who've

t02_data/07_statistical_analysis_of_data/colab.ipynb contains nonword pearsonr

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword todo

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword karhsrdpkvkf

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword we'll

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword you'll

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword sglexubxloka

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword aftermelt

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword longitude'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword nudblmugbada

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword they've

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword we've

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword we'd

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword numpy

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword and'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword eoiaylqaqikv

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword am'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword colab

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword unicode

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword uploaded

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword csv

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword cacao

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword flavors

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword here's

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword bixzknqzbiyc

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword we're

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword heatmap

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword seaborn

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword skhjdgcodoru

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword maker'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword dataset's

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword upload

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword boxplot

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword google

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword company's

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword rica'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword ltrderbhpudy

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword dspl

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword iterating

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword rating'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword country'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword america'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword nulls

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword dataframe

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword bean's

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword visualizations

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword xuqqzxiubqrs

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword name'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword it's

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword bali'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword wqwvumcjszgu

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword republic'

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword bdhowlwqqzza

t02_data/08_data_analysis_and_manipulation/colab.ipynb contains nonword bar's

t02_data/09_project_data_processing/colab.ipynb contains nonword dataframe

t02_data/09_project_data_processing/colab.ipynb contains nonword placeholders

t02_data/09_project_data_processing/colab.ipynb contains nonword transportation's

t02_data/09_project_data_processing/colab.ipynb contains nonword datatype

t02_data/09_project_data_processing/colab.ipynb contains nonword todo

t02_data/09_project_data_processing/colab.ipynb contains nonword delaybymonth

t02_data/09_project_data_processing/colab.ipynb contains nonword colab

t02_data/09_project_data_processing/colab.ipynb contains nonword upload

t02_data/09_project_data_processing/colab.ipynb contains nonword isn't

t02_data/09_project_data_processing/colab.ipynb contains nonword uploaded

t02_data/09_project_data_processing/colab.ipynb contains nonword walkthrough

t02_data/09_project_data_processing/colab.ipynb contains nonword google

t02_data/09_project_data_processing/colab.ipynb contains nonword programmatically

t02_data/09_project_data_processing/colab.ipynb contains nonword ilprmzfryqvl

t02_data/09_project_data_processing/colab.ipynb contains nonword hyperparameters

t02_data/09_project_data_processing/colab.ipynb contains nonword xbvwylwgkmxb

t02_data/09_project_data_processing/colab.ipynb contains nonword matplotlib

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword setosa'

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword matplotlib's

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword setosa

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword preprocessing

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword we'll

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword isn't

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword qoxubvpfqmop

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword you'll

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword nqzbibfblgai

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword won't

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword we've

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword versicolor'

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword numpy

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword versicolor

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword colab

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword you've

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword that's

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword sepal

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword 'regression'

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword virginica

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword doesn't

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword google

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword user's

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword preprocessor

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword mse

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword graphed

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword mgjsxwwuilaq

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword ptgwqmxupmpa

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword 'scale'

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword colabs

t03_regression/01_introduction_to_sklearn/colab.ipynb contains nonword uqhscobnqfdc

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword we'll

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword pseudoinverse

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword isn't

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword you'll

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword scikit

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword wasn't

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword won't

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword sklearn

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword ssyjgiqxrhyc

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword we'd

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword numpy

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword optimizer

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword colab

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword aren't

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword coef

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword uploaded

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword csv

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword that's

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword fxahozjbnnez

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword vkjimjuympxb

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword doesn't

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword linearregression

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword sgdregressor

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword upload

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword rmse

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword google

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword mcpedmoekelg

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword regressor

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword xaaedllameqk

t03_regression/03_linear_regression_with_sklearn/colab.ipynb contains nonword sgd

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword numpy

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword doesn't

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword preprocessor

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword overfitting

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword pwoqycyuurhq

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword todo

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword sgdregressor

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword colab

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword preprocessing

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword ezylczeanvod

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword google

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword scikit

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword zgofkooprbuc

t03_regression/04_polynomial_regression_and_overfitting/colab.ipynb contains nonword elasticnet

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword normalizes

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword gray'

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword cmap

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword model's

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword standardscaler

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword shouldn't

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword scaler

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword b'

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword autoplay

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword sklearn

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword 's'

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword numpy

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword colab

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword x'

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword flavors

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword seaborn

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword idx

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword google

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword logisticregression

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword iterates

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword ggruipveawyy

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword lightgreen'

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword intialize

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword 'red'

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword eigenpairs

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword blue'

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword visualizations

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword minmaxscaler

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword xhvhpjhsaeem

t03_regression/05_dimensionality_reduction/colab.ipynb contains nonword overfitting

t03_regression/06_regression_quality/colab.ipynb contains nonword numpy

t03_regression/06_regression_quality/colab.ipynb contains nonword doesn't

t03_regression/06_regression_quality/colab.ipynb contains nonword visualizations

t03_regression/06_regression_quality/colab.ipynb contains nonword underpredict

t03_regression/06_regression_quality/colab.ipynb contains nonword colab

t03_regression/06_regression_quality/colab.ipynb contains nonword we'll

t03_regression/06_regression_quality/colab.ipynb contains nonword isn't

t03_regression/06_regression_quality/colab.ipynb contains nonword it's

t03_regression/06_regression_quality/colab.ipynb contains nonword google

t03_regression/06_regression_quality/colab.ipynb contains nonword model's

t03_regression/06_regression_quality/colab.ipynb contains nonword won't

t03_regression/06_regression_quality/colab.ipynb contains nonword fmdvemoblahp

t03_regression/06_regression_quality/colab.ipynb contains nonword mjmumupmljpv

t03_regression/06_regression_quality/colab.ipynb contains nonword overfit

t03_regression/06_regression_quality/colab.ipynb contains nonword haven't

t03_regression/06_regression_quality/colab.ipynb contains nonword graphed

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword doesn't

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword placeholders

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword todo

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword initialization

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword xjpdmljvdlwe

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword initialize

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword colab

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword aren't

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword isn't

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword pseudoinverse

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword you'll

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword google

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword toveratwtupz

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword ochylhvbdsdl

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword placeholder

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword initialized

t03_regression/07_introduction_to_tensorflow/colab.ipynb contains nonword tensorflow

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword dyjqrnogjsnc

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword todo

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword linearregressor

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword panda's

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword we'll

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword isn't

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword you'll

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword tensorflow's

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword model's

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword won't

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword wsaybpnhlnsx

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword sklearn

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword we've

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword we'd

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword numpy

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword terabytes

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword optmizer

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword optimizer

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword colab

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword aren't

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword csv

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword optimizers

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword zphaewxshgkp

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword jkuugsqtibeh

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword tensorflow

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword doesn't

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword rmse

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword google

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword hyperparameters

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword dataframes

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword predctions

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword rzhwigizhqaw

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword hasn't

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword regressor

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword it's

t03_regression/08_linear_regression_with_tensorflow/colab.ipynb contains nonword learnings

t03_regression/09_project_regression/colab.ipynb contains nonword dataframe

t03_regression/09_project_regression/colab.ipynb contains nonword placeholders

t03_regression/09_project_regression/colab.ipynb contains nonword todo

t03_regression/09_project_regression/colab.ipynb contains nonword linearregressor

t03_regression/09_project_regression/colab.ipynb contains nonword sgdregressor

t03_regression/09_project_regression/colab.ipynb contains nonword colab

t03_regression/09_project_regression/colab.ipynb contains nonword preprocessing

t03_regression/09_project_regression/colab.ipynb contains nonword isn't

t03_regression/09_project_regression/colab.ipynb contains nonword aren't

t03_regression/09_project_regression/colab.ipynb contains nonword uploaded

t03_regression/09_project_regression/colab.ipynb contains nonword walkthrough

t03_regression/09_project_regression/colab.ipynb contains nonword google

t03_regression/09_project_regression/colab.ipynb contains nonword preprocess

t03_regression/09_project_regression/colab.ipynb contains nonword programmatically

t03_regression/09_project_regression/colab.ipynb contains nonword hyperparameters

t03_regression/09_project_regression/colab.ipynb contains nonword xbvwylwgkmxb

t03_regression/09_project_regression/colab.ipynb contains nonword sklearn

t03_regression/09_project_regression/colab.ipynb contains nonword tensorflow

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword todo

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword dbbammihynvu

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword resize

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword we'll

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword python's

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword gfhuspmqfngd

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword you'll

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword pillow's

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword scikit

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword shouldn't

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword machine's

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword odirlpdijrdp

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword axurtcgjwojy

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword we'd

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword numpy

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword resizing

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword aren't

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword colab

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword uploaded

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword website

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword open'

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword pgxjelrbvyvt

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword doesn't

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword upload

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword google

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword sneaker

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword resized

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword coloring

t04_applied_models/02_image_manipulation/colab.ipynb contains nonword rgba

t04_applied_models/03_video_processing/colab.ipynb contains nonword numpy

t04_applied_models/03_video_processing/colab.ipynb contains nonword doesn't

t04_applied_models/03_video_processing/colab.ipynb contains nonword opencv

t04_applied_models/03_video_processing/colab.ipynb contains nonword lbxxnlhyxika

t04_applied_models/03_video_processing/colab.ipynb contains nonword colab

t04_applied_models/03_video_processing/colab.ipynb contains nonword we'll

t04_applied_models/03_video_processing/colab.ipynb contains nonword isn't

t04_applied_models/03_video_processing/colab.ipynb contains nonword google

t04_applied_models/03_video_processing/colab.ipynb contains nonword shutil

t04_applied_models/03_video_processing/colab.ipynb contains nonword uploading

t04_applied_models/03_video_processing/colab.ipynb contains nonword mubjqjccoiii

t04_applied_models/03_video_processing/colab.ipynb contains nonword unpacks

t04_applied_models/03_video_processing/colab.ipynb contains nonword ytvuyxpwchhp

t04_applied_models/03_video_processing/colab.ipynb contains nonword iterable

t04_applied_models/03_video_processing/colab.ipynb contains nonword fourcc

t04_applied_models/03_video_processing/colab.ipynb contains nonword 'lgtm'

t04_applied_models/04_open_cv/colab.ipynb contains nonword opencv

t04_applied_models/04_open_cv/colab.ipynb contains nonword opencv's

t04_applied_models/04_open_cv/colab.ipynb contains nonword we'll

t04_applied_models/04_open_cv/colab.ipynb contains nonword isn't

t04_applied_models/04_open_cv/colab.ipynb contains nonword wasn't

t04_applied_models/04_open_cv/colab.ipynb contains nonword numpy

t04_applied_models/04_open_cv/colab.ipynb contains nonword prebuilt

t04_applied_models/04_open_cv/colab.ipynb contains nonword colab

t04_applied_models/04_open_cv/colab.ipynb contains nonword that's

t04_applied_models/04_open_cv/colab.ipynb contains nonword doesn't

t04_applied_models/04_open_cv/colab.ipynb contains nonword pixabay

t04_applied_models/04_open_cv/colab.ipynb contains nonword orig

t04_applied_models/04_open_cv/colab.ipynb contains nonword google

t04_applied_models/04_open_cv/colab.ipynb contains nonword uploading

t04_applied_models/04_open_cv/colab.ipynb contains nonword ggruipveawyy

t04_applied_models/04_open_cv/colab.ipynb contains nonword ziykbqbyxrxa

t04_applied_models/04_open_cv/colab.ipynb contains nonword elif

t04_applied_models/04_open_cv/colab.ipynb contains nonword xhvhpjhsaeem

t04_applied_models/04_open_cv/colab.ipynb contains nonword it's

t04_applied_models/04_open_cv/colab.ipynb contains nonword autograding

t04_applied_models/04_open_cv/colab.ipynb contains nonword bgr

t04_applied_models/04_open_cv/colab.ipynb contains nonword matplotlib

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword placeholders

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword we'll

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword python's

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword situps

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword you'll

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword tensorflow's

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword isn't

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword numpy

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword classes'

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword linux

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword colab

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword aren't

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword people's

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword placeholder

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword tensorflow

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword doesn't

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword wb'

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword upload

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword google

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword gzipped

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword list'

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword url

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword standouts

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword entrypoint

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword tarfile

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword tensorboard

t04_applied_models/05_saving_and_loading_models/colab.ipynb contains nonword rb'

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword placeholders

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword pixabay

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword opencv

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword lbxxnlhyxika

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword rfid

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword colab

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword we'll

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword mobilenet

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword you'll

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword walkthrough

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword google

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword hyperparameters

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword ytvuyxpwchhp

t04_applied_models/06_project_prebuilt_models/colab.ipynb contains nonword tensorflow

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword qhqdysloyqpv

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword multiclass

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword todo

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword eyeballing

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword setosa

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword we'll

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword isn't

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword cmap

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword scikit

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword tpr

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword ungraded

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword sklearn

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword zwefhsbugeul

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword classifer

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword we've

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword we'd

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword numpy

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword versicolor

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword imqyeotgjoao

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword stratifying

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword auc

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword lqdqpxrfztvd

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword colab

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword jswripgssenh

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword virginica

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword wvjklylhiafy

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword actuals'

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword scores'

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword we're

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword you're

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword taqgackkfwcv

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword ovo

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword precisions

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword nfvfyaqcxqwy

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword predictions'

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword oujjvboyboob

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword google

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword wspmalohzekm

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword dataframes

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword jcjziqkamexd

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword dztsqdmzmbrt

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword moeaqtxetndt

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword dataframe

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword visualizations

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword srrddhydvnmx

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword it's

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword bpvdtflmbzpr

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword zzpldsjtvlph

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword qzqxyshyzfwl

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword sgd

t05_basic_classification/01_classification_with_sklearn/colab.ipynb contains nonword matplotlib

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword doesn't

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword costco

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword nyyslyiokdnj

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword bucketization

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword lbxxnlhyxika

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword bucketize

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword dichotomizing

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword todo

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword colab

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword we'll

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword rmse

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword it's

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword google

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword price'

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword bucketized

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword markdowns

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword vgvseuibwikx

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword we're

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword appetizers

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword rumored

t05_basic_classification/02_bucketized_features/colab.ipynb contains nonword tensorflow

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword feypvesybtxn

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword downloads

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword 'police

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword panda's

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword preprocessing

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword hired'

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword isn't

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword we'll

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword model's

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword won't

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword we'd

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword what's

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword holdout

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword stratifying

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword colab

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword aren't

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword simplicity's

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword individual's

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword doesn't

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword predefinedsplit

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword google

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword ggruipveawyy

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword dnwpuogrggyq

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword ziykbqbyxrxa

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword zdzpsqegzvpx

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword url

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword deggklnhfspr

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword xhvhpjhsaeem

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword bjjrictbopbz

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword salary'

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword autograding

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword overfitting

t05_basic_classification/03_cross_validation/colab.ipynb contains nonword colabs

t05_basic_classification/04_random_forests/colab.ipynb contains nonword xmpndqvkkeod

t05_basic_classification/04_random_forests/colab.ipynb contains nonword visualizations

t05_basic_classification/04_random_forests/colab.ipynb contains nonword todo

t05_basic_classification/04_random_forests/colab.ipynb contains nonword colab

t05_basic_classification/04_random_forests/colab.ipynb contains nonword we'll

t05_basic_classification/04_random_forests/colab.ipynb contains nonword you'll

t05_basic_classification/04_random_forests/colab.ipynb contains nonword google

t05_basic_classification/04_random_forests/colab.ipynb contains nonword scikit

t05_basic_classification/04_random_forests/colab.ipynb contains nonword ylfflveplesj

t05_basic_classification/04_random_forests/colab.ipynb contains nonword stringio

t05_basic_classification/04_random_forests/colab.ipynb contains nonword overfit

t05_basic_classification/04_random_forests/colab.ipynb contains nonword overfitting

t05_basic_classification/04_random_forests/colab.ipynb contains nonword sklearn

t05_basic_classification/04_random_forests/colab.ipynb contains nonword graphing

t05_basic_classification/04_random_forests/colab.ipynb contains nonword we'd

t05_basic_classification/05_knn/colab.ipynb contains nonword todo

t05_basic_classification/05_knn/colab.ipynb contains nonword popularitydistance

t05_basic_classification/05_knn/colab.ipynb contains nonword avgrating

t05_basic_classification/05_knn/colab.ipynb contains nonword we'll

t05_basic_classification/05_knn/colab.ipynb contains nonword tiis

t05_basic_classification/05_knn/colab.ipynb contains nonword isn't

t05_basic_classification/05_knn/colab.ipynb contains nonword wasn't

t05_basic_classification/05_knn/colab.ipynb contains nonword scikit

t05_basic_classification/05_knn/colab.ipynb contains nonword movienormalizednumratings

t05_basic_classification/05_knn/colab.ipynb contains nonword standardscaler

t05_basic_classification/05_knn/colab.ipynb contains nonword genresa

t05_basic_classification/05_knn/colab.ipynb contains nonword model's

t05_basic_classification/05_knn/colab.ipynb contains nonword genredistance

t05_basic_classification/05_knn/colab.ipynb contains nonword popularityb

t05_basic_classification/05_knn/colab.ipynb contains nonword numpy

t05_basic_classification/05_knn/colab.ipynb contains nonword dist

t05_basic_classification/05_knn/colab.ipynb contains nonword they're

t05_basic_classification/05_knn/colab.ipynb contains nonword moviedict

t05_basic_classification/05_knn/colab.ipynb contains nonword popularitya

t05_basic_classification/05_knn/colab.ipynb contains nonword diabetespedigreefunction'

t05_basic_classification/05_knn/colab.ipynb contains nonword insulin'

t05_basic_classification/05_knn/colab.ipynb contains nonword konstan

t05_basic_classification/05_knn/colab.ipynb contains nonword movielens

t05_basic_classification/05_knn/colab.ipynb contains nonword smfexbeovnue

t05_basic_classification/05_knn/colab.ipynb contains nonword skinthickness'

t05_basic_classification/05_knn/colab.ipynb contains nonword upload

t05_basic_classification/05_knn/colab.ipynb contains nonword google

t05_basic_classification/05_knn/colab.ipynb contains nonword iterates

t05_basic_classification/05_knn/colab.ipynb contains nonword bloodpressure'

t05_basic_classification/05_knn/colab.ipynb contains nonword story's

t05_basic_classification/05_knn/colab.ipynb contains nonword dataframe

t05_basic_classification/05_knn/colab.ipynb contains nonword visualizations

t05_basic_classification/05_knn/colab.ipynb contains nonword acm

t05_basic_classification/05_knn/colab.ipynb contains nonword knn

t05_basic_classification/05_knn/colab.ipynb contains nonword movieproperties

t05_basic_classification/05_knn/colab.ipynb contains nonword it's

t05_basic_classification/05_knn/colab.ipynb contains nonword movieid

t05_basic_classification/05_knn/colab.ipynb contains nonword genresb

t05_basic_classification/05_knn/colab.ipynb contains nonword id's

t05_basic_classification/05_knn/colab.ipynb contains nonword movienumratings

t05_basic_classification/05_knn/colab.ipynb contains nonword movie's

t05_basic_classification/05_knn/colab.ipynb contains nonword is'

t05_basic_classification/05_knn/colab.ipynb contains nonword recode

t05_basic_classification/05_knn/colab.ipynb contains nonword scipy

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword wikimedia

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword trip'

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword zipfile

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword need'

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword alphago

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword numpy

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword what's

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword colab

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword regex

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword gmail

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword urgent'

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword modeling

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword heatmap

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword we're

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword parameterize

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword seaborn

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword inbox

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword multicollinearity

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword phishing

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword free'

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword google

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword ggruipveawyy

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword ziykbqbyxrxa

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword cash'

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword bayes'

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword url

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword xhvhpjhsaeem

t05_basic_classification/06_bayesian_models/colab.ipynb contains nonword autograding

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword todo

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword we'll

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword scikit

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword scaler

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword numpy

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword colab

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword svc

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword dtotgjoicova

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword sepal

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword mybrkiubeaus

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword pyplot

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword svm

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword btokxjcecolx

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword rng

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword google

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword largets

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword predctions

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword species'

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword hyperparameter

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword visualizations

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword afzkrdjwylrm

t05_basic_classification/08_support_vector_machines/colab.ipynb contains nonword multple

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword iterator

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword todo

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword krizfcmyqgtk

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword we'll

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword scikit

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword ungraded

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword shouldn't

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword tgpishvkxtlh

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword ubfdxuiuxngm

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword dnnclassifier

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword vgeotlcuksxy

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword mnist

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword zdyjfwhsinfm

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword logits

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword tensorflow

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword doesn't

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword google

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword logits'

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword probabilities'

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword agmodbwxykln

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword hardcode

t05_basic_classification/09_classification_with_tensorflow/colab.ipynb contains nonword visualizations

t05_basic_classification/10_project_classification/colab.ipynb contains nonword embarked'

t05_basic_classification/10_project_classification/colab.ipynb contains nonword placeholders

t05_basic_classification/10_project_classification/colab.ipynb contains nonword survived'

t05_basic_classification/10_project_classification/colab.ipynb contains nonword wwdvfhzbadhq

t05_basic_classification/10_project_classification/colab.ipynb contains nonword oslhstiwaiie

t05_basic_classification/10_project_classification/colab.ipynb contains nonword colab

t05_basic_classification/10_project_classification/colab.ipynb contains nonword linearclassifer

t05_basic_classification/10_project_classification/colab.ipynb contains nonword walkthrough

t05_basic_classification/10_project_classification/colab.ipynb contains nonword fsdfasdfsadfsd

t05_basic_classification/10_project_classification/colab.ipynb contains nonword kaggle

t05_basic_classification/10_project_classification/colab.ipynb contains nonword seaborn

t05_basic_classification/10_project_classification/colab.ipynb contains nonword hasbqtkrhzki

t05_basic_classification/10_project_classification/colab.ipynb contains nonword tensorflow

t05_basic_classification/10_project_classification/colab.ipynb contains nonword dlmhtwuqifpz

t05_basic_classification/10_project_classification/colab.ipynb contains nonword hzisbmfxavrn

t05_basic_classification/10_project_classification/colab.ipynb contains nonword frjssjvpiumb

t05_basic_classification/10_project_classification/colab.ipynb contains nonword cabin'

t05_basic_classification/10_project_classification/colab.ipynb contains nonword ywjwaddeurzv

t05_basic_classification/10_project_classification/colab.ipynb contains nonword sxmniepvmdcx

t05_basic_classification/10_project_classification/colab.ipynb contains nonword labelencoder

t05_basic_classification/10_project_classification/colab.ipynb contains nonword ticket'

t05_basic_classification/10_project_classification/colab.ipynb contains nonword upload

t05_basic_classification/10_project_classification/colab.ipynb contains nonword google

t05_basic_classification/10_project_classification/colab.ipynb contains nonword passengerid

t05_basic_classification/10_project_classification/colab.ipynb contains nonword asnkmlkzisqv

t05_basic_classification/10_project_classification/colab.ipynb contains nonword cormat

t05_basic_classification/10_project_classification/colab.ipynb contains nonword female'

t05_basic_classification/10_project_classification/colab.ipynb contains nonword jwmpzfwpnacc

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword dnnclassifier

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword todo

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword optimizer

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword colab

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword we'll

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword uploaded

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword google

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword csv

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword wip

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword optimizers

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword logits

t06_image_classification/01_artifical_neural_networks/colab.ipynb contains nonword tensorflow

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword numpy

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword todo

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword ksize

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword colab

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword we'll

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword isn't

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword google

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword convolutional

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword wip

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword tensorflow's

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword scikit

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword vertial

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword placeholder

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword won't

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword pyplot

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword tensorflow

t06_image_classification/03_convolutional_neural_networks/colab.ipynb contains nonword we'd

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword colorbar

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword todo

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword we'll

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword you'll

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword ungraded

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword model's

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword pullover'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword trouser'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword ciacvqqmcawf

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword zalando

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword numpy

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword dress'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword sdfkasjfskjf

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword optimizer

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword endindex

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword colab

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword sandal'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword shirt'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword that's

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword mnist

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword ywfgsmvxcaxg

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword you're

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword sneaker'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword we're

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword tensorflow

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword upload

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword google

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword unstacking

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword thisplot

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword preprocessed

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword reformats

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword sneaker

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword dldcchmdcawq

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword keras

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword coat'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword it's

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword overfitting

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword colabs

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword bag'

t06_image_classification/05_image_classification_with_keras/colab.ipynb contains nonword matplotlib

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword placeholders

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword lbxxnlhyxika

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword keras

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword rfid

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword colab

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword walkthrough

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword google

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword scikit

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword hyperparameters

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword ytvuyxpwchhp

t06_image_classification/06_project_image_classification/colab.ipynb contains nonword tensorflow

t07_clustering/01_k_means/colab.ipynb contains nonword sckxnazhxeul

t07_clustering/01_k_means/colab.ipynb contains nonword todo

t07_clustering/01_k_means/colab.ipynb contains nonword ockloeprljao

t07_clustering/01_k_means/colab.ipynb contains nonword setosa

t07_clustering/01_k_means/colab.ipynb contains nonword colab

t07_clustering/01_k_means/colab.ipynb contains nonword we'll

t07_clustering/01_k_means/colab.ipynb contains nonword upload

t07_clustering/01_k_means/colab.ipynb contains nonword uzkswhwzkbap

t07_clustering/01_k_means/colab.ipynb contains nonword isn't

t07_clustering/01_k_means/colab.ipynb contains nonword google

t07_clustering/01_k_means/colab.ipynb contains nonword scikit

t07_clustering/01_k_means/colab.ipynb contains nonword ybufgwmpjdfe

t07_clustering/01_k_means/colab.ipynb contains nonword you'll

t07_clustering/01_k_means/colab.ipynb contains nonword shouldn't

t07_clustering/01_k_means/colab.ipynb contains nonword hmuqeootjwrb

t07_clustering/01_k_means/colab.ipynb contains nonword versicolour

t07_clustering/01_k_means/colab.ipynb contains nonword 'purchase

t07_clustering/01_k_means/colab.ipynb contains nonword unlabeled

t07_clustering/01_k_means/colab.ipynb contains nonword inertias

t07_clustering/01_k_means/colab.ipynb contains nonword ints

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword todo

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword dbbammihynvu

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword we'll

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword rvzmfcosxcox

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword b'

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword there's

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword embeddings

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword kncdcmmgnhtu

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword backpropagation

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword odirlpdijrdp

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword axurtcgjwojy

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword numpy

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword colab

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword you've

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword overfit

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword pgxjelrbvyvt

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword we're

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword initialized

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword tensorflow

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword imdb

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword upload

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword google

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword metadata

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword hyperparameters

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword maxlen

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword keras

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword truncate

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword it's

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword w'

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword overfitting

t08_advanced_topics/00_embeddings/colab.ipynb contains nonword bo'

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword tf

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword we'll

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword isn't

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword you'll

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword shouldn't

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword won't

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword yb

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword sess

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword we've

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword we'd

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword numpy

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword optimizer

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword initialize

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword colab

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword aren't

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword placeholder

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword tensorflow

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword ipo

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword capibable

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword google

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword hyperparameters

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword rnns

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword mse

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword iterable

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword xb

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword rnn

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword yesterday's

t08_advanced_topics/01_recurrent_neural_networks/colab.ipynb contains nonword matplotlib

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword todo

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword dbbammihynvu

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword preprocessing

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword we'll

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword you'll

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword scikit

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword vectorizer

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword it'd

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword embeddings

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword keras's

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword axurtcgjwojy

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword numpy

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword vectorization

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword rpsjxlroeonh

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword what's

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword usernames

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword initialize

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword colab

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword zipdata

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword amazon'

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword pgxjelrbvyvt

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword we're

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword tensorflow

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword filepath

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword imdb

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword spellcheck

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword zfile

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword afngljvoyvnk

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword google

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword tokenizer

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword litle

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword yelp'

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword maxlen

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword imdb'

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword hyperparameter

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword dataframe

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword rnn

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword url

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword vectorize

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword sentences'

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword it's

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword learn's

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword wxrsvmfvwnes

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword vbpivamfrnzm

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword overfitting

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword spacy

t08_advanced_topics/02_natural_language_processing/colab.ipynb contains nonword kcwyrippjlfq

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword images'

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword wikimedia

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword we'll

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword vaes

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword nrows

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword denoise

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword embeddings

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword denoising

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword denoised

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword numpy

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword rescale

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword optimizer

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword colab

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword neighborhoods

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword vae

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword mnist

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword modeling

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword augmenters

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword you're

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword colorize

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword augmenter

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword autoencoder's

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword tensorflow

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword variational

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword autoencoders

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword representation'

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword google

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword ggruipveawyy

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword decompressor

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword ziykbqbyxrxa

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword autoencoder

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword keras

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword imgaug

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword xhvhpjhsaeem

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword convolutional

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword autograding

t08_advanced_topics/03_autoencoders/colab.ipynb contains nonword rpgerwlvoncg

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword deepfake

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword tf

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword pretrained

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword autoplay

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword image's

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword vgg

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword numpy

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword initialize

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword optimizer

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword colab

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword obama

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword functools

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword layer's

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword sobel

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword imagenet

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword tensorflow

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword upload

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword grad

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword google

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword ggruipveawyy

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword mse

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword ziykbqbyxrxa

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword keras

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword xhvhpjhsaeem

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword autograding

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword reinitialize

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword async

t08_advanced_topics/04_generative_adversarial_networks/colab.ipynb contains nonword matplotlib

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword numpy

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword opencv

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword initialize

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword colab

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword khandelwal

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword tqdm

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword blog

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword renu

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword google

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword trainable

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword mnist

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword kaggle

t08_advanced_topics/04_generative_adversarial_networks/colab-mnist.ipynb contains nonword noised

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword we'll

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword you'll

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword won't

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword scaler

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword lstms

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword lstm

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword numpy

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword what's

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword rescale

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword colab

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword you've

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword modeling

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword here's

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword timesteps

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword you're

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword we're

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword tensorflow

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword ipo

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword trainscore

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword google

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword user's

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword rnns

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword mse

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword rnn

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword yesterday's

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword testscore

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword minmaxscaler

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword keras

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword it's

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword autograding

t08_advanced_topics/07_sequence_prediction/colab.ipynb contains nonword day's

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword bigquery

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword you'll

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword mwtzhqevwqle

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword qzyksszytgix

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword we've

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword dlmcqggevyav

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword lzurqdhgwbbb

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword they're

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword colab

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword that's

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword timestamp

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword placeholder

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword here's

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword you're

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword we're

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword fvdqhlouhzze

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword doesn't

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword vrtcsbfzwlmx

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword facebook's

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword postgresql

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword google

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword newspaper's

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword sqlite

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword 'authentication

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword lowercase

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword sensical

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword bikeid

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword rsamrfcldbcg

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword url

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword vprwjqafghyb

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword it's

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword google's

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword qghdmsifepzo

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword tnxkgwzaepzz

txx_misc_tech_topics/01_sql/colab.ipynb contains nonword mysql

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword todo

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abbbbc'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword python's

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword isn't

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword we'll

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword you'll

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abbbbbbbc

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword we've

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abc'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abbbbbc'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword whale'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword colab

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword zoo'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword placeholder

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword doesn't

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abbbbbbbc'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abbc'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword google

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abbbbbbc'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword ing'

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword literals

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword diggity

txx_misc_tech_topics/11_regular_expressions/colab.ipynb contains nonword abbbc'

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword todo

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword lhgapkqrsmqh

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword we'll

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword try'

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword you'll

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword b'

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword trienode

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword what's

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword rtzihzsgqsca

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword colab

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword cannot

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword placeholder

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword was'

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword we're

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword gzrdbofvsjii

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword upload

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword bmzjslytobzd

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword g'

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword google

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword u'

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword refactor

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword z'

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword hwfxlchesepk

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword url

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword tradeoffs

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword wudtjtduhwjc

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword zzmsyqfxqisv

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword lookups

txx_misc_tech_topics/14_interview_questions/boggle.ipynb contains nonword denbaomfukei

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword numpy

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword linearregression

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword todo

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword colab

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword we'll

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword isn't

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword google

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword scikit

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword wip

txx_misc_tech_topics/17_multiple_features/colab.ipynb contains nonword svd

### Do all exercises have an answer key?
t02_data/03_visualizations/colab1.ipynb has 2 exercises, and 0 answer keys.

t02_data/04_introduction_to_pandas/colab.ipynb has 3 exercises, and 4 answer keys.

t02_data/08_data_analysis_and_manipulation/colab.ipynb has 1 exercises, and 2 answer keys.

t03_regression/01_introduction_to_sklearn/colab.ipynb has 3 exercises, and 4 answer keys.

t03_regression/03_linear_regression_with_sklearn/colab.ipynb has 10 exercises, and 13 answer keys.

