## Test Results

### Are Colabs using python 3?
Success!

### Are Colabs cleared of all outputs?
t02_data/03_visualizations/colab1.ipynb has an uncleared output.

t02_data/03_visualizations/colab2.ipynb has an uncleared output.

t02_data/06_probability/colab_dice_rolling.ipynb has an uncleared output.

### Are all Colabs and Slides free of spelling errors?
Tests not yet implemented!

### Do all exercises have an answer key?
Tests not yet implemented!

